@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,800&display=swap');
.start-today {
  color: #18d26e;
}

.sub-title {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}

.submit-btn {
  border-color: #18d26e;
  border-radius: 1px;
  font-weight: 100;
  background-color: black;
  color: white;
  letter-spacing: 2px;
  padding: 10px;
  z-index: 999999;
}

.win-big {
  display: inline-block;
  width: 50%;
}

.left {
  background-color: aqua;
}

.right {
  background-color: gold;
}

.big-row {
  border-top: 1px solid white;
  padding: 20px;
}

.big-header {
  color: white;
  font-size: 100;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.big-icon {
  font-size: 100px !important;
}

.big-text {
  font-size: 18px !important;
  font-weight: 100;
  letter-spacing: 3px;
}
