@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,800&display=swap');

.sub-header {
  text-transform: uppercase;
  padding-top: 5%;
  font-weight: 100;
  letter-spacing: 4px;
  color: white;
}

.subscribe-page-btn {
  border: 1px solid red;
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 18px;
}

.subscribe-page-btn:hover {
  background-color: #fff;
  color: red;
}

.price-header {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.subs-container {
  margin-top: 10%;
  margin-bottom: 10%;
}

.why-icon {
  color: #fff;
}

.pay-now-button {
  border-color: #18d26e;
  border-radius: 1px;
  font-weight: 100;
  background-color: black;
  color: white;
  letter-spacing: 2px;
  padding: 10px;
  z-index: 999999;
}
